@import '../../../theme-colours.scss';

* {
    text-align: center;
    color: #343434;
    font-size: 16px;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 140px 130px;
}

.title {
    font-weight: 900;
    font-size: 50px;
    height: 35px;
}

.description {
    padding-top: 5px;
}

.horizontal-separator {
    border-color: $colour-blue-grey;
    border-radius: 5px;
    width: 25px;
    margin: 30px 0;
}

.email {
    margin: 0;
}
