.page-template {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.template {
    display: flex;
    flex: 1;
}

.upper-content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.lower-content {
    justify-content: flex-end;
}
