<div class="map-season-one-page">
    <!-- <iframe class="mapIframe" [src]="serverUrl + '/map/test' | safe"></iframe> -->
    <iframe class="mapIframe" [src]="bluemapUrl | safe"></iframe>
    <div class="back-button-container">
        <app-back-button
            [destination]="'/map'"
            [title]="'Map'"
        ></app-back-button>
    </div>
    <div class="message-pop-up" *ngIf="showHAMsg">
        <app-message-card
            [title]="'Tip:'"
            [message]="
                'Experiencing lag? Try enabling hardware acceleration in your web browser settings!'
            "
            [messageColor]="'white'"
            [backgroundColor]="'rgba(0, 0, 0, 0.65)'"
            [borderColor]="'rgba(150, 150, 150, 0.8)'"
        />
        <button class="message-exit-button" (click)="toggleHAMsg()">
            <mat-icon class="message-exit-icon">close</mat-icon>
        </button>
    </div>
</div>
