.rift-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    padding: 0px 10px;
    width: calc(100% - 10px);
    height: 50px;
    z-index: 10;
}

.menu-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: inherit;
    align-items: center;
}

.link-container {
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-link {
    display: flex;
    color: rgb(244, 244, 244);
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    align-items: center;
    height: 100%;
}

.link-container .nav-link:hover {
    text-decoration: underline;
    color: rgb(255, 0, 230);
}

.nav-button {
    display: flex;
    height: 100%;
    align-items: center;
}

.rift-logo {
    display: block;
    margin: 0 auto;
    padding: 10px;
    max-width: calc(100% - 20px);
    max-height: calc(100% - 20px);
}
