<nav class="rift-navbar">
    <ul class="menu-links">
        <li class="link-container">
            <a class="nav-button" routerLink="/home">
                <img
                    class="rift-logo"
                    src="../../assets/navbar/rift-logo.png"
                    alt="The Right logo"
                />
            </a>
        </li>
        <li class="link-container">
            <a
                class="nav-link"
                routerLink="/home"
                routerLinkActive="link-active"
                ><p>Home</p></a
            >
        </li>
        <li class="link-container">
            <a
                class="nav-link"
                routerLink="/news"
                routerLinkActive="link-active"
                ><p>News</p></a
            >
        </li>
        <li class="link-container">
            <a
                class="nav-link"
                routerLink="/gallery"
                routerLinkActive="link-active"
                ><p>Gallery</p></a
            >
        </li>
        <li class="link-container">
            <a class="nav-link" routerLink="/map" routerLinkActive="link-active"
                ><p>Map</p></a
            >
        </li>
        <li class="link-container">
            <a
                class="nav-link"
                routerLink="/downloads"
                routerLinkActive="link-active"
                ><p>Downloads</p></a
            >
        </li>
    </ul>
    <ul class="menu-links"></ul>
    <ul class="menu-links">
        <li class="link-container">
            <a class="nav-link" href="#contact"><p>Contact</p></a>
        </li>
        <li class="link-container">
            <a
                class="nav-link"
                routerLink="/about"
                routerLinkActive="link-active"
                ><p>About</p></a
            >
        </li>
    </ul>
</nav>
