<nav class="rift-navbar">
    <ul class="menu-links">
        <li class="link-container">
            <a class="nav-button" href="#home">
                <img
                    class="rift-logo"
                    src="../../assets/navbar/rift-logo.png"
                    alt="The Right logo"
                />
            </a>
        </li>
        <li class="link-container">
            <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="link-container">
            <a class="nav-link" href="#news">News</a>
        </li>
        <li class="link-container">
            <a class="nav-link" href="#gallery">Gallery</a>
        </li>
        <li class="link-container">
            <a class="nav-link" href="#map">Map</a>
        </li>
    </ul>
    <ul class="menu-links"></ul>
    <ul class="menu-links">
        <li class="link-container">
            <a class="nav-link" href="#contact">Contact</a>
        </li>
        <li class="link-container">
            <a class="nav-link" href="#about">About</a>
        </li>
    </ul>
</nav>
