@import '../../../theme-colours.scss';

$h-navbar-edge-padding: 10px;
$h-logo-edge-padding: 10px;
$link-hover-colour: rgb(255, 0, 230);

.rift-navbar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    border-style: none none solid none;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0.368);
}

.rift-navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1000px;
    height: 50px;
    padding-left: calc(100vw - 100%);
}

.always-visible {
    position: fixed;
    top: 0px;
    padding: 0px $h-navbar-edge-padding;
    z-index: 10;
}

.opaque {
    background-color: rgb(44, 44, 44);
}

.menu-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: inherit;
    align-items: center;
}

.link-container {
    display: flex;
    height: 100%;
    align-items: center;
    vertical-align: middle;
}

.nav-link {
    display: flex;
    text-align: center;
    align-items: center;
    color: rgb(244, 244, 244);
    padding: 0 2px;
    text-decoration: none;
    height: 100%;
    border-width: 2px;
    border-color: transparent;
    border-style: none none solid none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 500;
}

.nav-link.link-active {
    color: $colour-galactic-purple;
    border-color: $colour-galactic-purple;
    font-weight: 500;
}

.nav-link:hover {
    color: $link-hover-colour;
    border-color: $link-hover-colour;
}

.nav-link p {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 2px 14px;
    text-align: center;
    align-items: center;
}

.nav-link:hover p {
    background-color: rgba(24, 24, 24, 0.183);
    border-radius: 5px;
}

.nav-button {
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
}

.rift-logo {
    display: block;
    margin: 0 auto;
    padding: $h-logo-edge-padding;
    object-fit: contain;
    max-width: calc(100% - 2 * $h-logo-edge-padding);
    max-height: calc(100% - 2 * $h-logo-edge-padding);
}

.join-button {
    margin-left: 10px;
    padding: 2px 10px;
    border-radius: 2px;
    transition: all 0.02s ease;
}

.join-button:hover {
    background-color: rgba($colour-primary, 0.9);
    color: $colour-light-text;
}

.left-align {
    flex: 1;
    justify-content: flex-start;
}

.center-align {
    justify-content: center;
}

.right-align {
    flex: 1;
    justify-content: flex-end;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-width: 2px;
    border-color: transparent;
    border-style: none none solid none;
    border-radius: 2px;
}

.button-container:has(> .join-button.mat-button-active) {
    border-color: $colour-primary;
}

.join-button {
    width: 100%;
    margin: 0px;
}

.join-button.mat-button-active {
    background-color: transparent;
    border: 2px solid $colour-primary;
}
