@import '../../../theme-colours.scss';

.dark-background {
    color: $color-light-text;
    background-color: $colour-dark-background;
}

.light-background {
    color: $color-dark-text;
    background-color: $colour-light-background;
}

.empty-background {
    color: $color-light-text;
    background-color: #ffffff00;
}

.text-section-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 60px 0;
}

.text-container {
    width: 85%;
}

.section-break {
    background-color: none;
    height: 20px;
}

.title {
    white-space: pre-line;
    width: 100%;
    font-size: xx-large;
    margin: 0px;
}

.content {
    white-space: pre-line;
    width: 100%;
    font-size: large;
    line-height: 25px;
    margin: 0px;
}

.center-align {
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}
