<div class="collection-section">
    <div class="collection-grid">
        <div class="grid-item sub-grid collection-card">
            <div
                class="background-content"
                [style.background-image]="
                    'url(\'../../../../assets/home/1.png\')'
                "
            ></div>
            <div class="overlay-content">
                <hr class="top-bar" />
                <h3 class="title">Season 5</h3>
                <p class="description">15 Photos</p>
                <hr class="bottom-bar" />
            </div>
        </div>
        <div class="grid-item sub-grid collection-card">
            <div
                class="background-content"
                [style.background-image]="
                    'url(\'../../../../assets/home/2.png\')'
                "
            ></div>
            <div class="overlay-content">
                <hr class="top-bar" />
                <h3 class="title">Season 5</h3>
                <p class="description">15 Photos</p>
                <hr class="bottom-bar" />
            </div>
        </div>
        <div class="grid-item sub-grid collection-card">
            <div
                class="background-content"
                [style.background-image]="
                    'url(\'../../../../assets/home/3.png\')'
                "
            ></div>
            <div class="overlay-content">
                <hr class="top-bar" />
                <h3 class="title">Season 5</h3>
                <p class="description">15 Photos</p>
                <hr class="bottom-bar" />
            </div>
        </div>
        <div class="grid-item sub-grid collection-card">
            <div
                class="background-content"
                [style.background-image]="
                    'url(\'../../../../assets/home/1.png\')'
                "
            ></div>
            <div class="overlay-content">
                <hr class="top-bar" />
                <h3 class="title">Season 5</h3>
                <p class="description">15 Photos</p>
                <hr class="bottom-bar" />
            </div>
        </div>
        <div class="grid-item sub-grid collection-card">
            <div
                class="background-content"
                [style.background-image]="
                    'url(\'../../../../assets/home/2.png\')'
                "
            ></div>
            <div class="overlay-content">
                <hr class="top-bar" />
                <h3 class="title">Season 5</h3>
                <p class="description">15 Photos</p>
                <hr class="bottom-bar" />
            </div>
        </div>
    </div>
</div>
