<div class="text-section-card {{ backgroundTypeClass }}">
    <div class="containers {{ imagePositionClass }}">
        <div class="image-container" *ngIf="showImage">
            <img src="{{ imageUrl }}" class="image" />
        </div>
        <div class="text-container" *ngIf="showTitle || showContent">
            <h2 class="title {{ titlePositionClass }}" *ngIf="showTitle">
                {{ title }}
            </h2>
            <div class="section-break" *ngIf="showTitle && showContent"></div>
            <p class="content {{ titlePositionClass }}" *ngIf="showContent">
                {{ content }}
            </p>
        </div>
    </div>
</div>
