@import '../../../theme-colours.scss';
@import '../../../font-sizes.scss';

$edge-padding-x: 10px;
$edge-padding-y: 5%;
$inner-padding-x: 20px;
$inner-padding-y: 20px;

.dark-background {
    color: $colour-light-text;
    background-color: $colour-dark-background;
}

.light-background {
    color: $colour-dark-text;
    background-color: $colour-light-background;
}

.empty-background {
    color: $colour-dark-text;
    background-color: #ffffff00;
}

.section-card-wrapper {
    display: flex;
    justify-content: center;
}

.section-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-card.padding-x {
    width: calc(100% - 2 * $edge-padding-x);
    max-width: 55rem;
    padding-left: $edge-padding-x;
    padding-right: $edge-padding-x;
}

.section-card.padding-y {
    padding-top: $edge-padding-y;
    padding-bottom: $edge-padding-y;
}

.containers {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.containers > * {
    padding: $inner-padding-y $inner-padding-x;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image {
    max-height: 80vh;
    max-width: 33vw;
}

.right-align-image {
    flex-direction: row-reverse;
}

.left-align-image {
    flex-direction: row;
}

.bottom-align-image {
    flex-direction: column-reverse;
}

.top-align-image {
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.section-break {
    background-color: none;
    height: 20px;
}

.title {
    white-space: pre-line;
    width: 100%;
    font-size: $font-size-large;
    margin: 0px;
}

.content {
    white-space: pre-line;
    width: 100%;
    font-size: $font-size-medium;
    line-height: 25px;
    margin: 0px;
}

.dynamic-content {
    width: 100%;
}

.center-align {
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}
