$edge-padding-vertical: 10vh;
$edge-padding-horizontal: 5vw;

.image-slideshow {
    height: calc(100% - 2 * $edge-padding-vertical);
    width: calc(100% - 2 * $edge-padding-horizontal);
    padding: $edge-padding-vertical $edge-padding-horizontal;
}

.containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 100%;
    height: 70vh;
}

.image {
    object-fit: contain;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: clamp(150px, 150px, 100%);
    background-color: rgb(255, 255, 255);
    padding: 15px 20px;
    margin-top: clamp(10px, 50px, 50px) 0;
    border-radius: 15px;
}

.prev,
.next {
    height: 10vh;
    width: 10vh;
}
