<div
    class="background-image-card"
    [style.background-image]="'url(' + backgroundImgSrc + ')'"
>
    <div class="overlay-content">
        <div class="text-container">
            <ng-container *ngIf="showTitle">
                <h1 class="title" *ngIf="isPageTitle">{{ title }}</h1>
                <h2 class="title" *ngIf="!isPageTitle">{{ title }}</h2>
            </ng-container>
            <p class="description" *ngIf="showDescription">{{ description }}</p>
        </div>
    </div>
</div>
