$max-content-width: 500px;
$max-image-height: 150px;

.card-wrapper {
    overflow: hidden;
    max-height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: radial-gradient(
            transparent,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.3)
        ),
        url('../../../assets/home/1.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 56.25%; /* (img-height / img-width * container-width-percent) */
    position: relative;
}

.card-content {
    position: absolute;
    top: clamp(0px, 50vh, 50%);
    transform: translate(0, -50%);
    width: 85%;
    white-space: pre-wrap;
    text-align: center;
}

.card-container {
    width: $max-content-width;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    padding: 30px 10px;
    margin: 0px;
    border-radius: 10px;
    border: 1px solid #333333;
}

.card-container > * {
    margin: 10px 0;
}

.image-header {
    width: 100%;
}

.image {
    height: $max-image-height;
}

.description {
    color: rgb(240, 240, 240);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    font-weight: 800;
    font-size: larger;
    width: 100%;
    padding-bottom: 40px;
}

.actions {
    width: 100%;
}

.actions * {
    margin: 0 10px;
}
