<div class="card-wrapper">
    <div class="card" [style.background-image]="'url(' + backgroundUrl + ')'">
        <div class="card-content">
            <div class="card-container">
                <div class="image-header">
                    <img class="image" src="{{ headerUrl }}" />
                </div>
                <div class="description">
                    {{ description }}
                </div>
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>
