.news-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.background-image-card {
    width: 100%;
}

.news-display {
    max-width: 50rem;
}

.paginated-news-display-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: calc(100vw - 100%);
    margin: 20px 0;
}

.paginator {
    justify-self: flex-end;
}
