@import './font-sizes.scss';

*:not(html) {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: $font-size-medium;
}

html {
    // scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    scrollbar-color: #999 #333;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 1px;
}

body::-webkit-scrollbar-track {
    background: #333;
}

html.disable-scroll {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}

.mdc-button {
    transition-duration: 0.1s;
}

.mdc-button:hover {
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.2);
}
