$custom-blue-grey: (
    50: #a9b7bd,
    100: #a9b7bd,
    200: #a9b7bd,
    300: #a9b7bd,
    400: #a9b7bd,
    500: #a9b7bd,
    600: #a9b7bd,
    700: #a9b7bd,
    800: #a9b7bd,
    900: #a9b7bd,
    A100: #a9b7bd,
    A200: #a9b7bd,
    A400: #a9b7bd,
    A700: #a9b7bd,
    contrast: (
        50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white
    )
);
