$custom-blue-grey: (
    50: #a9b7bd,
    100: #a9b7bd,
    200: #a9b7bd,
    300: #a9b7bd,
    400: #a9b7bd,
    500: #a9b7bd,
    600: #a9b7bd,
    700: #a9b7bd,
    800: #a9b7bd,
    900: #a9b7bd,
    A100: #a9b7bd,
    A200: #a9b7bd,
    A400: #a9b7bd,
    A700: #a9b7bd,
    contrast: (
        50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white
    )
);

$custom-galactic-purple: (
    50: #b452de,
    100: #b452de,
    200: #b452de,
    300: #b452de,
    400: #b452de,
    500: #b452de,
    600: #b452de,
    700: #b452de,
    800: #b452de,
    900: #b452de,
    A100: #b452de,
    A200: #b452de,
    A400: #b452de,
    A700: #b452de,
    contrast: (
        50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white
    )
);
