$colour-blue-grey: #a9b7bd;
$colour-violet: #7f00ff;
$colour-dark-background: #1e1e1e;
$colour-dark-text: #272727;
$colour-light-text: #ffffff;
$colour-light-background: #ffffff;
$colour-light-grey: #dcdcdc;
$colour-miami-pink: #ff0077;

$colour-primary: $colour-violet;
$colour-secondary: $colour-blue-grey;

$custom-blue-grey: (
    50: $colour-blue-grey,
    100: $colour-blue-grey,
    200: $colour-blue-grey,
    300: $colour-blue-grey,
    400: $colour-blue-grey,
    500: $colour-blue-grey,
    600: $colour-blue-grey,
    700: $colour-blue-grey,
    800: $colour-blue-grey,
    900: $colour-blue-grey,
    A100: $colour-blue-grey,
    A200: $colour-blue-grey,
    A400: $colour-blue-grey,
    A700: $colour-blue-grey,
    contrast: (
        50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white
    )
);

$custom-violet: (
    50: $colour-violet,
    100: $colour-violet,
    200: $colour-violet,
    300: $colour-violet,
    400: $colour-violet,
    500: $colour-violet,
    600: $colour-violet,
    700: $colour-violet,
    800: $colour-violet,
    900: $colour-violet,
    A100: $colour-violet,
    A200: $colour-violet,
    A400: $colour-violet,
    A700: $colour-violet,
    contrast: (
        50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white
    )
);
