<div class="downloads-page">
    <app-background-image-card
        [src]="'../../../assets/home/3.png'"
        [isPageTitle]="true"
        [title]="'Downloads'"
        [desc]="'Check out the previous Rift seasons'"
    ></app-background-image-card>
    <div class="downloads-container">
        <app-section-card
            *ngFor="let collection of collections"
            [backgroundType]="'light'"
            [title]="'Worlds'"
            [titlePosition]="'left'"
            [contentPosition]="'left'"
            [paddingY]="false"
        >
            <div class="download-section">
                <app-download-card></app-download-card>
                <app-download-card></app-download-card>
                <app-download-card></app-download-card>
            </div>
        </app-section-card>
    </div>
</div>
