<div class="image-showcase-section">
    <app-back-button [destination]="'/gallery'" />
    <ul class="caption-card-gallery">
        <li class="caption-card" *ngFor="let image of images; index as i">
            <app-caption-card
                [src]="image"
                [caption]="i.toString()"
                [caption-visibility]="'hover'"
            />
        </li>
    </ul>
    <mat-paginator
        #paginator
        class="paginator"
        (page)="handlePageEvent($event)"
        [length]="length"
        [pageSize]="pageSize"
        [showFirstLastButtons]="true"
        [pageIndex]="pageIndex"
        aria-label="Select page"
    >
    </mat-paginator>
</div>

<!-- https://material.angular.io/components/paginator/overview -->
