<div class="image-showcase-section">
    <app-back-button [destination]="'/gallery'" [title]="'Gallery'" />
    <ul class="caption-card-gallery">
        <li class="caption-card" *ngFor="let image of images">
            <button class="image-button" (click)="handleImageClick($event)">
                <app-caption-card
                    [src]="image.url"
                    [caption]="image.caption"
                    [caption-visibility]="'hover'"
                />
            </button>
        </li>
    </ul>
    <mat-paginator
        #paginator
        class="paginator"
        (page)="handlePageEvent($event)"
        [length]="length"
        [pageSize]="pageSize"
        [showFirstLastButtons]="true"
        [pageIndex]="pageIndex"
        aria-label="Select page"
    >
    </mat-paginator>
    <div class="image-pop-up" *ngIf="isPopUpVisible">
        <app-image-slideshow
            [src]="popUpImage"
            [caption]="popUpCaption"
            [captionedImages]="getImages(collectionName)"
            [startingIndex]="0"
        />
        <button class="exit-button" mat-fab extended (click)="handleClose()">
            <mat-icon class="exit-icon">close</mat-icon>Close
        </button>
    </div>
</div>
